body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#hideB {
  background-color: green;
  border-radius: 8px;
  color: whitesmoke;
  border-style: none;
  font-size: medium;
  font-size: 15px
}

#viewB {
  background-color: #008CBA;
  border-radius: 8px;
  color: whitesmoke;
  border-style: none;
  font-size: 15px
}

#likeB {
  background-color: #ba5a00;
  border-radius: 8px;
  color: whitesmoke;
  border-style: none;
  font-size: 12px;
  vertical-align: middle;
}

#deleteB {
  background-color: red;
  border-radius: 8px;
  color: whitesmoke;
  border-style: none;
  font-size: 15px;
  vertical-align: middle;
}